<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="lib/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="lib/dist/js/bootstrap.min.js"></script>
    <link href="lib/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="myCss" rel="stylesheet" type="text/css">
  </head><body>

    <div class="cover">
      <div class="cover-image" style="background-image: url( photo-1418065460487-3e41a6c84dc5.jpg?q=25&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">欢迎使用英语一单词分析应用</h1>
            <p class="text-inverse">所有数据都来自2008年-2017年英语一真题。</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" href="link/html_prefix_name_predict_0.html">2018年预测词汇查看</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-center text-primary">历年真题词汇查看</h1>
            <p class="text-center">该内容汇集了数据集中出现的单词，并统计了其中的频数，希望有助于各位学习！</p>
            <div class="col-md-12 text-center">
              <a class="btn btn-primary" href="link/html_prefix_name_0.html">点击进入</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-success">
      <div class="container">
        <div class="row">
        
          <div class="col-md-12">
            <h1 class="text-center">数据集</h1>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12 text-center">
            <p>其中包含了该应用包含的所有数据集</p>
            <a class="btn btn-primary" href="sample/">点击进入</a>
          </div>        
        </div>
        </table>
      </div>
    </div>
   <footer class="section section-primary"  style="padding:0px">
      <div class="container" >
        <div class="row" >
          <div class="col-md-12 col-sm-3 text-center" >
            <h6>- - - - - -技术支持：郭梦飞- - - - - -</h6>
          </div>
        </div>
      </div>
    </footer>

</body></html>